:root {
    // 主题色1 深青
    --primary: #2f50eb;
}

::-webkit-scrollbar {
    width : 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #777;
}


// 分页
.am-pagination {
    .am-dropdown {
        .am-button {
            background: rgba(255, 255, 255, 0.1)!important;
            border-radius: 3px;
            border: none;
            color: #fff;
        }
    }
    &__number, &__left, &__right {
        background: rgba(255, 255, 255, 0.1)!important;
        border: none;
        border-radius: 3px;
        // 选中态
        &.active {
            background: var(--primary);
            cursor: default;
        }
        &:not(.active) {
            &:hover,&.is-down {
                background: var(--bg-2);
                color: var(--fcolor-1);
                border-radius: 3px;
            }
        }
    }
}

// 按钮
.am-button {
    border-radius: 2px;
}

// 图标按钮
.am-icon-button {

}

// 输入框
.am-input {
    border-radius: 3px;
}

// 文本框
.am-textarea {
    border-radius: 3px;
    overflow: hidden;
}

.am-table {
    border: 1px solid var(--border);
    &__hd {
        background: #f7f7f7;
        th {
            padding: 8px 16px!important;
            font-size: 12px!important;
            color: #666!important;
        }
    }
    &__bd {
        background: #fff;
    }
}